.footer {
}

.footer-options {
  display: flex;
  justify-content: space-between;
}

/* /////////////////////////  Footer Logo \\\\\\\\\\\\\\\\\\\\\\\\\\  */
.footer-logo-div {
  padding-bottom: 0.7rem;
}

.footer-logo-num,
.footer-logo-email {
  color: #000;
  font-family: SF Pro Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 100% */
  letter-spacing: -0.64px;
  text-decoration-line: underline;
  padding: 0.7rem 0;
}

.footer-logo-address {
  color: #000;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.32px;
  padding: 0.7rem 0;
}

/* ////////////////////////////  Footer Social Media \\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.footer-social-media {
}

.footer-social-media div:first-child {
  padding-top: 0 !important;
}

.footer-social-media-type {
  padding: 0.7rem 0;
}

.footer-social-media-type a {
  color: #000;
  font-family: SF Pro Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

/* ///////////////////////// Footer Menu Options \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.footer-menu div:first-child {
  padding-top: 0 !important;
}

.footer-menu-option {
  padding: 0.7rem 0;
}

.footer-menu-option a {
  color: #000;
  font-family: SF Pro Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-menu-option-contact {
  display: none;
}

/* ///////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.footer-contact-circle {
  width: 203px;
  height: 203px;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: SF Pro Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.footer-contact-circle:hover {
  background-color: #3dba11;
  color: #fff;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.footer-copyright div {
  color: #000;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  letter-spacing: -0.28px;
}

.footer-copyright div:first-child {
  opacity: 0.4;
}

.footer-copyright span {
  color: #000;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.28px;
}

.footer-border-bottom {
  background-color: #000;
  width: 175px;
  height: 5px;
  border-radius: 10px;
  margin: auto;
  display: none;
}

/* //////////////////////////////// Media \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media screen and (max-width: 992px) {
  .footer-options {
    flex-direction: column;
  }
  /* /////  Footer Logo \\\\\  */
  .footer-logo {
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
  }

  .footer-options {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-logo-details {
    display: flex;
    justify-content: space-around;
  }

  .footer-logo-num,
  .footer-logo-email {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: -0.6px;
    text-decoration-line: underline;
  }

  .footer-logo-address {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: -0.32px;
  }

  /* /////  Footer Social Media \\\\\ */
  .footer-social-media {
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
  }

  .footer-social-media-type {
    display: inline-block;
    width: 30%;
  }

  /* ///// Footer Menu Options \\\\\\\ */

  .footer-menu {
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
  }

  .footer-menu-option {
    display: inline-block;
    width: 30%;
  }

  /* ///////////\\\\\\\\\\\\\ */
  .footer-contact-circle {
    display: none;
  }

  .footer-copyright {
    flex-direction: column;
    align-items: center;
  }

  .footer-copyright div {
    padding: 0.5rem 0;
  }

  .footer-border-bottom {
    display: block;
  }
}
