@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* .container {
  margin: 0 165px;
} */

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.text-header {
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 104px; /* 104% */
  letter-spacing: -2px;
}

.text-green {
  color: #3dba11;
}

.text-deep-green {
  color: #0d3300;
}

.text-white {
  color: #fff;
}

.text-disabled {
  color: rgba(0, 0, 0, 0.4);
}

.bg-green {
  background-color: #3dba11;
}

.bg-deep-green {
  background-color: #0d3300;
}

.text-font-18 {
  font-size: 18px;
}

.btn-sm-green {
  background: #3dba11;
  color: #fff;
  padding: 0 40px;
  font-size: 20px;
  border: none;
  border-radius: 99px;
  cursor: pointer;
}

.btn-sm-green a {
  color: #fff;
}

.btn-sm-green:active {
  transform: scale(1.02);
}

/* ////////////// Small \\\\\\\\\\\\\\\\\\\\ */
@media screen and (max-width: 768px) {
  /* .container {
    margin: 0 15px;
  } */

  .btn-sm-green {
    padding: 0 30px;
    font-size: 20px;
  }

  .text-header {
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px; /* 115.625% */
    letter-spacing: -1.28px;
  }
}

/* //////////// Medium \\\\\\\\\\\\\\\\ */
@media (min-width: 769px) and (max-width: 992px) {
  .text-header {
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px; /* 115.625% */
    letter-spacing: -1.28px;
  }
}

/* /////////////// Large \\\\\\\\\\\\\\\\\\\ */
@media (min-width: 993px) and (max-width: 1200px) {
  .text-header {
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px; /* 115.625% */
    letter-spacing: -1.28px;
  }
}
